<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Blueprint To 3D</title>

    <link href="/css/style.css" rel="stylesheet"/>
</head>

    <body>
        <div th:fragment="header" class="header">
            <nav>
                <a href="/" class="logo">
                    Bto3D
                </a>
                <a href="">Contact</a>
                <a href="">About</a>
            </nav>
        </div>

    </body>

</html>