<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <script src="https://kit.fontawesome.com/def66b134a.js" crossorigin="anonymous"></script>
</head>
<link href="/css/user.css" rel="stylesheet"/>

<body>

<div class="container">
    <div class="screen">
        <div class="screen__content">
            <form class="login" th:action="@{/users/login}" th:object="${userLoginRequest}" method="post">
                <div class="login__field">
                    <i class="login__icon fas fa-user"></i>
                    <input th:field="*{email}" type="text" class="login__input" placeholder="Email">
                </div>
                <div class="login__field">
                    <i class="login__icon fas fa-lock"></i>
                    <input th:field="*{password}" type="password" class="login__input" placeholder="Password">
                </div>
                <div id="login-fail" class="alert-fail" hidden>아이디 또는 비밀번호가 일치하지 않습니다</div>
                <br/>
                <button type="submit" class="button login__submit">Login</button>

<!--                <button class="button login__submit" type="submit">-->
<!--                    <span class="button__text">Log In Now</span>-->
<!--                    <i class="button__icon fas fa-chevron-right"></i>-->
<!--                </button>-->
            </form>
            <div class="social-login">
                <h3>log in via</h3>
                <div class="social-icons">
                    <a href="#" class="social-login__icon fab fa-instagram"></a>
                    <a href="#" class="social-login__icon fab fa-facebook"></a>
                    <a href="#" class="social-login__icon fab fa-twitter"></a>
                </div>
            </div>
        </div>
        <div class="screen__background">
            <span class="screen__background__shape screen__background__shape1"></span>
        </div>
    </div>
</div>

<script th:inline="javascript" sec:authorize="isAuthenticated()">
    window.onload = function () {
        alert('이미 로그인 되어있습니다')
        location.href='/'
    }
</script>

<script th:inline="javascript" sec:authorize="isAnonymous()" >
    window.onload = function () {
        if(location.href.includes("fail")) {
            document.getElementById("login-fail").removeAttribute("hidden");
        }
    }
</script>

</body>
</html>
